{% extends "layout.html"%}
{% block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body >
  <div class="slider-holder">
    <span id="slider-image-1"></span>
    <span id="slider-image-2"></span>
    <span id="slider-image-3"></span>
    <div class="image-holder">
        <img src="/static/images/slide1.jpg" class="slider-image" />
        <img src="/static/images/slide2.jpg" class="slider-image" />
        <img src="/static/images/slide3.jpg" class="slider-image" />
    </div>
    <div class="button-holder"> 
        <a href="#slider-image-1" class="slider-change"></a>
        <a href="#slider-image-2" class="slider-change"></a>
        <a href="#slider-image-3" class="slider-change"></a>
    </div>
</div>
</body>
  {% endblock %}