 {% extends "layout.html"%}
{% block body%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css">
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-1">Welcome!</h1>
      <span class="font-bold">
        <span class="font-italic">
          <span class="lead">
            <h3>"KRISHI TOH NAASTHI DURBIKSHAM"</h3>
          </span>
        </span>
      </span>

      <hr class="my-3" />
      <p>Submit Your Soil Health Card Details and Get Instant Assistance</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </p>
    </div>
  </div>
</body>
{% endblock %}