<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" >
    <script src="main.js"></script>
    
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">KRISHI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    {% if session.log %}
                    <li class="nav-item">
                      <a class="nav-link" href="/second">DASHBOARD</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">LOGOUT</a>
                      </li>
                  
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                    {% endif%}
                   </ul>
                </div>
              </nav>
            
    {% include "includes/message.html "%}
    {% block body%}
    {% endblock %}
</body>
</html>