{% extends "layout.html"%}
{% block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    
<div class="login">
    <h1>LOGIN</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="name" required>
        </div>
        <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="password" required>
            </div>
            <button class="btn btn-primary" type="submit" >SUBMIT</button>
    </form>
</div>
</body>
{% endblock %}