<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Result</strong>  <a href="#" class="alert-link">
                        <h3>Predicted Crop is Rice</h3>
                  </div>
            </div>
        </div>
        <hr>
        <div class="container text-center">
            <video height="500px" width="700px" controls>
                <source src={{ url_for('static', filename="Corn.mp4") }} type="video/mp4">
                Your browser does not support the video tag.
              </video>
        </div>
    </body>
</html>